<%@page_title = "后台管理功能"%>
<%@page_id = 'pg_admin'%>
<script type="text/javascript" src="/javascripts/prototype.js" ></script>
<script type="text/javascript" src="/javascripts/site.js" ></script>
<style>
    html,body {background-color: white; }
    #content {width:90%; color: black; }
</style>
<div >
    <div class="float"> 
        <h2><%= icon_with_text('/images/star_green.gif', link_to('生成官方邀请码', :controller => 'admin', :action => "invite"),20)%></h2>
        <h2><%#= icon_with_text('/images/star_green.gif', link_to('邀请vantica用户', "/admin/mailer?lang=zh&send_action=send_vantica&title=vantica用户"),20)%></h2>
    </div>
    <%if params[:dev]%>
    <div style="float: right;">
        <h2 id='gen_user_id'><%= icon_with_text('/img/icons/star_grey.gif', link_to_remote('整理第三方user_id', {:url => {:controller => 'admin', :action => "gen_user_id"} ,:update => 'gen_user_id', :condition => "confirm('将对所有用户生成第三方user_id,可能要花费很长时间，确定吗？')", :loading => "add_loading('loading','gen_user_id')"}, :title => '可重复执行'),20)%></h2>
        <h2 id='lost_apk'><%= link_to_remote('检查丢失的apk文件', {:url => {:controller => 'admin', :action => "lost_apk"} ,:update => 'lost_apk', :condition => "confirm('将扫描所有apk,可能要花费很长时间，确定吗？')", :loading => "add_loading('loading','lost_apk')"}, :title => '可重复执行')%></h2>
        <h2 id='set_lost_apk_version'><%= link_to_remote('设置丢失的apk文件的版本号为-1', {:url => {:controller => 'admin', :action => "set_lost_apk_version"} ,:update => 'set_lost_apk_version', :condition => "confirm('将扫描所有apk,可能要花费很长时间，确定吗？')", :loading => "add_loading('loading','set_lost_apk_version')"}, :title => '可重复执行')%></h2>
    </div>
    <%end%>
    <div class="clear"></div>
</div>
<br><br><br><br>