<style>
    html,body {background-color: white; }
</style>
<div style="color: black;">
    <form action="/admin/login" method="post">
    <span><%=flash[:notice]%></span><br/>
    Admin password：<%=password_field("admin","password")%><%=submit_tag "Ok"%>
    </form>
    <br/><br/>
</div>
<script>
    selectAndFocus('admin_password');
</script>