            <%if session[:lang]=='zh'%>
            <a href="http://play.google.com/store/apps/details?id=goofy2.swably.zh">
              <img alt="下载Swably" src="/images/get_swably_en_m.png" height="30px"/>
            </a>
            <%else%>
            <a href="http://play.google.com/store/apps/details?id=goofy2.swably">
              <img alt="Get Swably on Google Play" src="/images/get_swably_en_m.png" height="30px" />
            </a>
            <%end%>