<%if session[:lang]=='zh'%>
<a href="http://play.google.com/store/apps/details?id=goofy2.swably.zh" title="Download Swably">
  <img alt="下载万宝乐" src="/images/get_swably_en.png" />
</a>
<%else%>
<a href="http://play.google.com/store/apps/details?id=goofy2.swably" title="Download Swably">
  <img alt="Get Swably on Google Play" src="/images/get_swably_en.png" />
</a>
<%end%>
