<%@page_title= 'Swably - Upload, Download, and Share Mobile Apps Socially'%>
<%@page_description="Swably is the Android app and APK sharing community. Swably gives users options when it comes to quickly and easily sharing mobile apps within a peer to peer android app sharing community. "%>
<%@page_author='Dennis Chu - Alex Liao - Taylor Amarel'%>
<style type="text/css">
	body {background-color: #000; color: #fff;}
    img {vertical-align: top;}
    .color_dark {color: #777;}
    p {font-size: 15px; line-height: 125%;}
    .title {font-size: 18px;}
</style>

<div style="width: 1440px; margin: 0px auto; background: url(/images/sf/wallpaper.jpg) top center no-repeat;">
	<div style="position: relative; width: 915px; margin: 0px auto;">
		<div style="height: 690px;">
			<img src="/images/sf/textlogo.png" style="position: absolute; top: 22px;"/>
	       	<div style="position: absolute; top: 33px; right: 5px;">
	            <%=t :follow_us_on%>&nbsp;&nbsp;&nbsp;&nbsp;
	            <a href="http://twitter.com/swablyofficial" title="Swably App Sharing" target="_blank"><img src="/images/twitter.png" alt="swably_apk_tiwtter" name="swably_twitter_sharing" id="swably_sharing_apps_on_twitter" /></a>&nbsp;&nbsp;&nbsp;&nbsp;
	            <a href="http://www.facebook.com/Swably" title="Swably Facebook" target="_blank"><img src="/images/facebook.png" alt="swably_facebook_android" name="swably_facebook_sharing" id="swably_sharing_apps_on_facebook" /></a>  
	        </div>
			<img src="/images/sf/BridgeLogo.png" style="position: absolute; top: 189px; left: 177px;"/>
		</div>
		<div>
			<div style="margin-top: 32px; " align="center" class="color_dark title">
				We are rasing $5,000 on Indiegogo
			</div>
			<div style="margin-top: 45px;" align="center">
				<a href="http://www.indiegogo.com/projects/send-swably-to-san-francisco--2/x/4354736" target="_blank">
					<img src="/images/sf/indiegogo.png"/>
				</a>
			</div>
			<div style="margin-top: 74px;">
				<div class="float" style="width: 300px; margin-left: 56px;">
					What is swably?
					<br/><br/>
					<p class="color_dark">
						Swably is based on vision: People get apps from each other directly.
						<br/><br/>
						You can’t see 99.99% apps in Google Play. Google lets you to search. But how could you to search an app from a million? 
						<br/><br/>
						It's time to change. Swably provides with a tool for the Android community to share apps, to review apps.
						<br/><br/>
						We already have the product. It worked in China. We are bringing it to San Francisco. It will help more people in the world if you help send us there. 
					</p>
				</div>
				<div class="float" style="width: 345px; margin-left: 190px;">
					Send Swably to San Francisco
					<br/><br/>
					<p class="color_dark">
						Swably founder Dennis Chu is running an Indiegogo campaign to raise travel expense to San Francisco. He is planning to meet lead investors there. 
						<br/><br/>
						The money donated will be use to cover his round trip air tickets from Beijing to San Francisco, hostel bed /AirBnB couch, food and local transport, including Muni, BART, bus, tram and Caltrain. It will also cover meetup admission and coffee because most VCs would ask you "to drop for a coffee" when they meet you.
					</p>
				</div>
				<div class="clear"></div>
			</div>
			<div style="margin-top: 70px; " align="center" class="color_dark title">
				Read more about the story
			</div>
			<div style="margin-top: 15px;" align="center">
				<a href="http://www.indiegogo.com/projects/send-swably-to-san-francisco--2/x/4354736" target="_blank">
					<img src="/images/sf/indiegogo.png"/>
				</a>
			</div>
			<div style="margin-top: 70px; " align="center" class="color_dark title">
				Download Swably, join the revolution
			</div>
			<div style="margin-top: 15px;" align="center">
				<a href="http://play.google.com/store/apps/details?id=goofy2.swably" target="_blank">
					<img src="/images/sf/gplay.png"/>
				</a>
			</div>
		</div>
 
	</div>
</div>
<br/><br/><br/><br/><br/>