<%if session[:lang] == 'zh' -%>
    <a href="http://swably.com?lang=en" title="Download Swably In English" class="head_color">Global</a>
<%else -%>
    <a href="http://zh.swably.com" title="Download Swably In Chinese" class="head_color">中国版</a>
<%end -%>
