                <%if app.enabled%>
                <a href="<%=app.apk%>" class="btn">
                    <div style="padding:20px;" class="btn" align="center">
                        <img src="/images/download.png" <%if session[:m] == '_m'%>width="60px"<%end%>/>
                    </div>
                </a>
                <%else%>
                    <div style="padding:20px;">
                        <span><%=_('Sorry, downloading is disabled by the developer of the app')%> </span>
                    </div>
                <%end%>
